<md-card>
  <md-card-title>Pimp rules configuration</md-card-title>
  <md-card-subtitle>This configuration section is used for defining pimp transformations for each page's of the targeted website.</md-card-subtitle>
  <md-card-content>
    <p>Each rule will be applied to any URL matching its URL pattern on the targeted website.</p>
    <p>Please check <a href="https://github.com/bjoerge/route-pattern/tree/v0.0.6" title="go to route-pattern github page" target="_blank">this documentation</a> for pattern syntax</p>
    <form [formGroup]="pimpRulesForm" class="pimp-form" novalidate>
        <ul formArrayName="rules">
          <!-- START iterate through rules form blocks -->
          <li *ngFor="let rule of pimpRulesForm.controls.rules.controls; let ruleIndex = index;">
            <app-pimp-rule-input [formGroupName]="ruleIndex" [rule]="rule" (onClickDelete)="onRuleDelete(ruleIndex)"></app-pimp-rule-input>
          </li>
          <!-- END iterate through rules form blocks -->
        </ul>
    </form>
    <button md-raised-button color="accent" title="add a new rule to the configuration" (click)="onRuleAdd()">ADD RULE</button>
  </md-card-content>
</md-card>
