<div class="layout-container">
    <div class="column-layout">
        <app-engine-indicator-tile 
            [status]="engineService.pmpEngineDataStatusStream" 
            [connection]="engineService.isPmpEngineConnected"
            [availableActions]="configService.availableConfigActionsStream"
            (startClicked)="configService.start()"
            (stopClicked)="configService.stop()"
        ></app-engine-indicator-tile>
        <app-pimp-links-tile [linksStream]="configService.links"></app-pimp-links-tile>
        <app-config-preview-tile [config]="configService.engineAppliedConfigStream"></app-config-preview-tile>
    </div>
    <div class="column-layout">
        <app-console-output-tile [logs]="logsService.logsStream"></app-console-output-tile>
    </div>
</div>
