<md-card>
  <md-card-title>General configuration</md-card-title>
  <md-card-subtitle>This configuration section is used for defining what website to pimp and where to output the result.</md-card-subtitle> 
  <md-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at leo lorem. Suspendisse non gravida erat. Etiam a mollis massa. Donec sit amet imperdiet urna. Praesent felis metus, aliquet vitae interdum rhoncus, vehicula eu augue. Mauris sollicitudin nisi sed vehicula vehicula. Quisque ullamcorper mi id nunc porttitor eleifend. Integer non nibh at ipsum mattis mollis. Aliquam malesuada, ipsum id dictum congue, risus ex iaculis augue, a condimentum ex tortor quis quam.</p>
      <p>Curabitur lacus sem, convallis id luctus id, molestie eu lorem. Nunc sapien neque, cursus non felis ac, vulputate aliquet urna. Donec posuere orci sit amet facilisis volutpat. Morbi aliquet mi at nisl maximus semper. Mauris interdum hendrerit enim, pulvinar lacinia dolor congue nec. Aenean eget enim risus. Ut nibh dolor, molestie vitae tortor maximus, tempus dictum neque. Nam quam tellus, pulvinar vitae ullamcorper sit amet, malesuada quis turpis. Quisque lobortis sit amet dolor mattis aliquam. Nulla facilisi. Maecenas tempor nibh est, id convallis enim vestibulum in. Nunc porttitor arcu vel risus cursus consectetur. Praesent scelerisque ut mauris eget sodales.</p>
  </md-card-content>
</md-card>
