<md-card>
  <md-card-title>General configuration</md-card-title>
  <md-card-subtitle>This configuration section is used for defining what website to pimp and where to output the result.</md-card-subtitle> 
  <md-card-content>
      <form [formGroup]="generalPimpForm" class="pimp-form" novalidate>
        <label for="targetURL" class="form-control-label">proxy this</label>
        <input class="form-control required" id="targetURL" 
          type="text"
          formControlName="target"
        />
        <small class="text-muted">this is the website domain URL you want to target for pimping</small>

        <label for="proxyToPort" class="form-control-label">use port</label>
        <input class="form-control required" id="proxyToPort"
          type="number"
          formControlName="port"
        />
        <small class="text-muted">this is the localhost port to output the pimped result</small>

        <label>
          <input id="cookieTransfer" 
            type="checkbox"
            formControlName="cookies"
          /> transfer cookies (useful to allow session sharing)
        </label>
      </form>
  </md-card-content>
</md-card>
