<div class="page-container">
    <md-tab-group [selectedIndex]="selectedTab" class="secondary-navigation">
      <md-tab>
        <template md-tab-label>general</template>
        <template md-tab-content>
          <app-pimp-form-general 
            [pimpConfigInit]="configModel.fullConfigStream"
            [pimpConfigChanges]="configModel.distinctConfigStream" 
            (updatePimpConfig)="onUpdateConfig($event)"
          ></app-pimp-form-general>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>pimp rules</template>
        <template md-tab-content>
          <app-pimp-form-rules
            [pimpConfigInit]="configModel.fullConfigStream"
            [pimpConfigChanges]="configModel.distinctConfigStream" 
            (updatePimpConfig)="onUpdateConfig($event)"
          ></app-pimp-form-rules>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>pimp plugins</template>
        <template md-tab-content>
          <app-pimp-form-plugins
            [pimpConfigInit]="configModel.fullConfigStream"
            [pimpConfigChanges]="configModel.distinctConfigStream" 
            [availablePlugins]="configModel.availablePluginsPromise"
            (updatePimpConfig)="onUpdateConfig($event)"
          ></app-pimp-form-plugins>
        </template>
      </md-tab>
    </md-tab-group>
    <menu class="button-holder">
        <button md-mini-fab title="restore/sync with applied pimp configuration" 
          [attr.disabled]="isRestoreFromEngineAllowed ? null : ''" 
          (click)="onRestoreFromEngineClick()"
        >
            <md-icon>history</md-icon>
        </button>
        <button md-mini-fab title="restore previously saved pimp configuration" 
          [attr.disabled]="isRestoreAllowed ? null : ''" 
          (click)="onRestoreClick()"
        >
            <md-icon>settings_backup_restore</md-icon>
        </button>
        <button md-mini-fab title="save current pimp configuration" 
          [attr.disabled]="isSaveAllowed ? null : ''" 
          (click)="onSaveClick()"
        >
            <md-icon>save</md-icon>
        </button>
        <button md-fab title="apply configuration" [attr.disabled]="isApplyAllowed ? null : ''" (click)="onApplyClick()">
            <md-icon>exit_to_app</md-icon>
        </button>
    </menu>
</div>
