@import '../../../../pmp-material-theme-variables.scss';

/deep/ md-card { box-sizing:border-box;
    @media (max-width:($card-breakpoint + 64px)) {
        margin:16px 72px;
    } 
    @media (min-width:($card-breakpoint + 64px)) {
        max-width:800px; margin:16px auto;
    } 
}

.button-holder {
    @media (min-width:($card-breakpoint + 64px)) {
        right:auto; left:50%; margin-left:404px;
    } 
}

// CONFIG SECTION LAYOUT
md-sidenav-layout { background-color:transparent; min-height:$content-max-height;
   /deep/ .md-sidenav-backdrop { display:none; }
   md-sidenav { max-width:250px; height:100%; overflow:hidden; background-color:darken($dark-bg, 10%); }

   .sidenav-toggler { margin:0; padding:8px; background:none; border:none; outline:none; cursor:pointer; 
        color:$base-text-color; transition:color #{$base-transition};
        position:absolute; right:0; top:0; z-index:1;
        &:hover, &:focus, &:active { color:$palette-accent; }    
    }
}
