<form [formGroup]="rulePimpForm" class="pimp-form" novalidate>
  <div class="rule-header">
    <button md-button color="accent" title="delete this rule" (click)="onDeleteRule($event)">
      <md-icon>cancel</md-icon> delete rule
    </button>
    <h3 [ngClass]="{'error': !rulePimpForm.valid }"><md-icon *ngIf="!rulePimpForm.valid">error</md-icon>{{ 'Rule N°' + (ruleIndex + 1) }}</h3>
  </div>
  <div class="form-control-container">
    <md-input class="form-control required" id="{{ 'rulePattern' + ruleIndex }}" 
      type="text"
      formControlName="rulePattern"
      placeholder="rule pattern"
      dividerColor="accent"
    ></md-input>
  </div>
  <div class="form-control-container textarea-container">
    <textarea id="{{ 'modifs' + ruleIndex }}" spellcheck="false" formControlName="modifs" rows="7"></textarea>
    <label attr.for="{{ 'modifs' + ruleIndex }}">modification script</label>
  </div>
</form>
