<fieldset [formGroup]="rule">
  <legend [ngClass]="{'error': !rule.valid }"><md-icon *ngIf="!rule.valid">error</md-icon>{{ 'Rule N°' + (formGroupName + 1) }}</legend>
  <button md-button color="accent" title="delete this rule" (click)="onRuleDelete()">
    <md-icon>cancel</md-icon> delete rule
  </button>
  <div class="form-control-container">
    <md-input class="form-control required" id="{{ 'rule.rulePattern' + formGroupName }}" 
      type="text"
      formControlName="rulePattern"
      placeholder="rule pattern"
      dividerColor="accent"
    ></md-input>
  </div>
  <div class="form-control-container textarea-container">
    <textarea id="{{ 'rule.modifs' + formGroupName }}" spellcheck="false" formControlName="modifs" rows="7"></textarea>
    <label attr.for="{{ 'rule.modifs' + formGroupName }}">modification script</label>
  </div>
</fieldset>
