<md-sidenav-layout>
  <md-sidenav #sidenav align="start" mode="push">
    <app-nav (onSelection)="mainNavSelection($event)"></app-nav>
  </md-sidenav>
  <app-header
    [statusStream]="pmpEngine.pmpEngineDataStatusStream"
    [connectionStream]="pmpEngine.isPmpEngineConnected"
    [availableActionsStream]="configModel.availableConfigActionsStream" 
    (onMenuCall)="mainNavOpen($event)"
    (onStartClick)="startPmpEngine($event)"
    (onStopClick)="stopPmpEngine($event)">
  </app-header>
  <router-outlet></router-outlet>
</md-sidenav-layout>
