@import '../../../../pmp-material-theme-variables.scss';

md-card { box-sizing:border-box;
    @media (max-width:$card-breakpoint) {
        margin:16px;
    } 
    @media (min-width:$card-breakpoint) {
        max-width:800px; margin:16px auto;
    } 
}