@import '../../../../pmp-material-theme-variables.scss';
@import '../../../../pmp-engine-indicator.scss';

:host {
    .engine-indicator { margin:0 auto; max-width:150px; }
    .process-status figcaption { font-size:2em; text-align:center; }
    .engine-controls { text-align:center; padding:0; margin:32px 0 0;
        .btn-engine { width:120px; text-align:center;
            &.start { border-top-right-radius:0; border-bottom-right-radius:0; }
            &.stop { border-top-left-radius:0; border-bottom-left-radius:0; }
        }
    }
}