/* theme colors */
$palette-primary:#1C5792;
$palette-accent:#ff4881;
$palette-warn:#ff0000;
$dark-bg:#303030;
$base-text-color:#fff;
$dialog-bg:#424242;

/* dimensions */
$card-breakpoint:(850 + 2*16)+0px;
$header-height: 64px;
$secondary-nav-height: 49px;
$content-max-height:calc(100vh - #{$header-height + $secondary-nav-height});
$content-max-height-no-secondary-nav:calc(100vh - #{$header-height});
$main-sidenav-width: 320px;

/* transitions */
$base-transition: '400ms cubic-bezier(0.25, 0.8, 0.25, 1)';
