@import 'pmp-material-theme-variables';
@import 'pmp-material-theme-utils';
@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: md-palette($md-indigo);
$accent:  md-palette($md-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: md-dark-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

//paragraph link
p a { color:$palette-accent; text-decoration:none;
    &:hover, &:focus, &:active { text-decoration:underline; }
}

// PAGE CONTAINER
.page-container { position:relative; height:$content-max-height-no-secondary-nav; overflow:hidden;
    &.has-secondary-nav { height:$content-max-height; }
    .button-holder { position:absolute; right:0; bottom:0; }
    p { margin-bottom:0; }
    p + p { margin-top:4px; }
}

// SECONDARY NAV OVERRIDE
.secondary-navigation {
    /deep/ .md-tab-header { background-color:darken($palette-accent, 35%); }
    /deep/ .md-tab-body { max-height:$content-max-height; }
    /deep/ .md-tab-label[md-tab-label-wrapper] { color:$palette-accent; opacity:1; font-size:16px; font-weight:normal; text-shadow:0px 0px 8px #000;
        &:hover, &:focus { background:none; }
    }
    md-ink-bar { background-color:$palette-accent }
}

// BUTTON HOLDERS
.button-holder { padding:0 4px 16px 0; margin:0; width:64px; text-align:center;
    button + button { margin-top:16px; }
}

// PIMP FORMS STYLES
.pimp-form { padding-top:16px;
    .form-control-container { margin-top:16px; margin-bottom:16px; @include clearfix;
        md-input { display:block; margin-top:32px; }
        md-slide-toggle { margin-top:32px; }
    }
    .text-muted { opacity:.65; font-size:.79em; margin-top:4px; }

    // textarea styling (see pimp rule implementation)
    .textarea-container { position:relative; padding-top:22px;
        label { font-size:10.5px; color:rgba(255, 255, 255, .3); display:block; position:absolute; top:0; left:0; transition:color #{$base-transition}; }
        textarea:focus + label { color:$palette-accent; }
        textarea { outline:none; width:100%; max-width:100%; padding:8px; background-color:$dark-bg; color:#fff; box-sizing:border-box; border:2px solid $dark-bg; transition:border-color #{$base-transition};
            &:focus { border-color:$palette-accent; }
        }
    }
}
